# Folder chứa toàn bộ script, log
ROOT_DIR=C:\Tool\QLCH\QLCHRestart
# Đường dẫn đến script PowerShell
SCRIPT_PATH=C:\Tool\QLCH\QLCHRestart\QLCHRestart.ps1
# Đường dẫn đến file log
LOG_PATH=C:\Tool\QLCH\QLCHRestart\QLCHRestart.log
# Loại Registry
REG_TYPE=HKLM
# Đường dẫn đến Registry
REG_PATH=Software\QLCHRestart
# Key registry để lưu PID
REG_KEY_PID=PID
